@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum');
:root {
  --black: #000000;
  --darkgray: #4e463d;
  --light-gray:#4f4a3b;
  --green: #414914;
  --red: #bf412a;
  --orange: #c86203;
  --white: #ffffff;
}

/* flexbox structure */
.main__column {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.column__side {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.body {
<<<<<<< HEAD
<<<<<<< HEAD
  box-sizing: border-box;
=======
>>>>>>> 115d4c46d3cfb5b9c78762d3bba64565bff7eda8
=======
>>>>>>> ac4e25bc9a248e1b80f68203af9222d4a1c0ea49
  margin: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
<<<<<<< HEAD
<<<<<<< HEAD
=======
  display: float;
>>>>>>> 115d4c46d3cfb5b9c78762d3bba64565bff7eda8
=======
  display: float;
>>>>>>> ac4e25bc9a248e1b80f68203af9222d4a1c0ea49
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/grey_wash_wall.png");
}

.header {
  background-color: #c86203;
<<<<<<< HEAD
<<<<<<< HEAD
  color: black;
  align-items: center;
  justify-content: space-around;
=======
=======
>>>>>>> ac4e25bc9a248e1b80f68203af9222d4a1c0ea49
  display: flex;
  align-items: flex-end;   
  color: black;
  align-items: center;
  justify-items: space-around;
<<<<<<< HEAD
>>>>>>> 115d4c46d3cfb5b9c78762d3bba64565bff7eda8
=======
>>>>>>> ac4e25bc9a248e1b80f68203af9222d4a1c0ea49
  font-size: 1em;
  height: 60px;
}

.nav__container {
<<<<<<< HEAD
<<<<<<< HEAD
  display: flex; 
  width: 100%;
  flex-direction: row;
  padding: 15px; 
  margin-right: 15px; 
  font-size: .75em; 
=======
=======
>>>>>>> ac4e25bc9a248e1b80f68203af9222d4a1c0ea49
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
  font-size: .75em;
<<<<<<< HEAD
>>>>>>> 115d4c46d3cfb5b9c78762d3bba64565bff7eda8
=======
}

.nav__home {
  float: left;
}

.nav__link {
  float: right;
>>>>>>> ac4e25bc9a248e1b80f68203af9222d4a1c0ea49
}

.nav__link, .nav__home {
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding: 10px;
  margin-right: auto;
}

.nav__link:hover, .nav__home:hover {
  background-color: white;
  color: #bf412a;
}

.nav__container .nav__icon {
  display: none;
}

.nav__icon {
  color: #ffffff;
  padding: 10px;
}

.nav__icon:hover {
  color: #c86203;
  background-color: white;
  padding: 10px;
}

.jumbotron {
  background-image: url(hunger_games_poster_home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: solid #bf412a 10px;
  border-bottom: solid #bf412a 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.jumbotron__text {
  font-size: 3.5em;
  align-self: center;
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px 40px;
}

.jumbotron__btn {
  background-color: #bf412a;
  color: #ffffff;
  font-weight: bold;
  font-size: 1em;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
}

.jumbotron__btn:hover {
  background-color: white;
  border: solid 2px #bf412a;
  color: #bf412a;
}

.sidebar {
  background-color: white;
  width: 200px;
  height: auto;
  position: fixed;
  z-index: 1;
  right: 0;
  display: inline-block;
  padding: 10px;
  margin-right: 50px;
  overflow-x: hidden;
  text-align: center;
}

.nav__sidebar {
  width: 180px;
  text-align: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
.sidebar__nav {
  width: 200px;
  position: fixed; 
  box-shadow: var(--darkgray) 4px 4px 10px 4px;
}

.sidebar__nav ul {
  list-style-type: none;
  font-size: 14px;
  margin-left: -25px;
=======
.sidebar__header {
  color: #4e463d;
  font-size: 1.25em;
>>>>>>> 115d4c46d3cfb5b9c78762d3bba64565bff7eda8
=======
.sidebar__header {
  color: #4e463d;
  font-size: 1.25em;
>>>>>>> ac4e25bc9a248e1b80f68203af9222d4a1c0ea49
}

.sidebar__link {
  text-decoration: none;
  color: #c86203;
  padding: 10px;
  font-size: .75em;
}

.sidebar__link:hover {
  background-color: #c86203;
  color: white;
  transition: 450ms;
}

<<<<<<< HEAD
<<<<<<< HEAD
.intro {
  display: grid; 
  grid-area: main; 
  grid-column: 2 / 6;
  grid-row: 1; 
  height: auto; 
}

.info {
  display: grid; 
  grid-area: main; 
  grid-column: 2 / 6;
  grid-row: 2 / 3;
}

.info__container {
  display: flexbox;
  flex-direction: row;
}

.cast {
  display: grid; 
  grid-area: main; 
  grid-column: 2 / 6; 
  grid-row: 4 / 5;
}
.cast__container {
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: row; 
  overflow: hidden;
  justify-content: center;
=======
=======
>>>>>>> ac4e25bc9a248e1b80f68203af9222d4a1c0ea49
.main {
  display: inline-block;
  width: 70%;
  background-color: white;
  box-shadow: gray 4px 4px 10px 2px;
  padding: 20px;
  margin: 30px;
  color: #4f4a3b;
  }

.main__heading {
  text-align: center;
}

.movie-poster {
  float: right;
  padding: 20px;
<<<<<<< HEAD
>>>>>>> 115d4c46d3cfb5b9c78762d3bba64565bff7eda8
=======
>>>>>>> ac4e25bc9a248e1b80f68203af9222d4a1c0ea49
}

.cast__gallery {
  padding: 5px;
  float: left;
  width: 180px;
}
  
.cast__gallery_list {
  list-style-type: none;
}
  
.cast__gallery img {
  width: 100%;
  height: auto;
}
<<<<<<< HEAD
<<<<<<< HEAD

.cast__caption {
  text-align: center; 
=======
=======
>>>>>>> ac4e25bc9a248e1b80f68203af9222d4a1c0ea49
  
.cast__gallery a {
  text-decoration: none;
  color: #bf412a;
  text-align: center;
  font-size: .8em;
<<<<<<< HEAD
>>>>>>> 115d4c46d3cfb5b9c78762d3bba64565bff7eda8
=======
>>>>>>> ac4e25bc9a248e1b80f68203af9222d4a1c0ea49
}
  
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
  
.plot {
  display: flexbox;
  flex-direction: row; 
  flex-wrap: wrap;
}
  
/* Image Grid */
.cast__img_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
}
  
.cast__img_grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  
.cast__img_grid img {
  width: 50%;
  height: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
  
.cast__caption {
  margin-top: 10px;
  font-size: 1rem;
}
  
/* Trailer */
.trailer {
  margin-top: 50px;
}
  
/* Responsive Video */
.vid-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
  
.vid-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  
.plot__image1 {
  width: 30%;
  float: left;
  padding-right: 10px;
}
  
.plot__image2 {
  width: 30%;
  float: right;
  padding-left: 10px;
}
  
.plot__image3 {
  width: 50%;
  float: left; 
  padding-right: 10px;
}
  
.plot__image4 {
  width: 50%;
  float: right; 
  padding-right: 10px;
}
  
h1, h2, h3 {
  font-family: 'Forum', cursive;
  text-transform: uppercase;
}
  
h1 {
  font-size: 3em;
}
  
h2 {
  font-size: 2em;
}
  
h3 {
  font-size: 1.5em;
}
  
.footer {
  text-align: center;
  background-color: #c86203;
  padding: 20px;
  font-size: 0.75em;
}
  
/* responsive layout */
<<<<<<< HEAD
<<<<<<< HEAD
@media screen and (max-width: 600px) {

.body {
  max-width: 500px;
}

.nav__container a {display: none;}
.nav__container a.nav__icon {
  display: inline-block;
}

.nav__container.responsive {position: relative;}
.nav__container.responsive .nav__icon {
  position: absolute;
  top: 0;
}
.nav__container.responsive a {
  display: block;
  text-align: left;
}

.sidebar__container {
  display: none;
}

.jumbotron {
  max-width: 100%;
}

.cast__gallery {
  padding: 5px;
  width: 100px;
  height: auto;
  margin: 0 10px 20px 10px;
  box-shadow: var(--light-gray) 4px 4px 10px 2px; 
}
  
.cast__gallery img {
  width: 100px;
  height: auto;
}
.plot__image1 {
  width: 200px;
  float: left;
  padding-right: 10px;
}

.plot__image2 {
  width: 150px;
  float: right;
  padding-left: 10px;
}

.plot__image3 {
  width: 200px;
  float: left; 
  padding-right: 10px;
}
=======
=======
>>>>>>> ac4e25bc9a248e1b80f68203af9222d4a1c0ea49
@media screen and (max-width: 400px) {
  .nav__container a {display: none;}
  .nav__container a.nav__icon {
    float: left;
    display: block;
  }
  
  .nav__container.responsive {position: relative;}
  .nav__container.responsive .nav__icon {
    position: absolute;
    right: 0;
    top: 0;
  }
    
  .nav__container.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .sidebar {
    display: none;
  }

  .jumbotron {
    max-width: 100%;
  }
    
  .main__row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  
  .cast__gallery.responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
  
  .cast__img_grid img {
    width: 100%;
    height: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  
<<<<<<< HEAD
>>>>>>> 115d4c46d3cfb5b9c78762d3bba64565bff7eda8
}
  
@media screen and (max-width: 1112px) {
<<<<<<< HEAD
  .sidebar__container {
  display: none;
=======
=======
}
  
@media screen and (max-width: 1112px) {
>>>>>>> ac4e25bc9a248e1b80f68203af9222d4a1c0ea49
  .sidebar {
    display: none;
  }
  
  .cast__img_grid img {
    width: 100%;
    height: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
<<<<<<< HEAD
>>>>>>> 115d4c46d3cfb5b9c78762d3bba64565bff7eda8
=======
>>>>>>> ac4e25bc9a248e1b80f68203af9222d4a1c0ea49
  }
}